body {
    font-family: "Courier New", 'sans-serif';
    letter-spacing: 0.5px;
    line-height: 1.2;
    background-image: url("https://i.ytimg.com/vi/9sNQFJAb3Ss/maxresdefault.jpg")
}

h1, h2, h3 {
    color: #ffac75
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

li {
    line-height: 1.4rem;
}

.Employment, .Education {
    display: flex;
    Justify-content: space-between;
    font-size: 20px;
}

.about-myself h1, h2, h3, a, p, footer {
    color: azure;
}

#header-information {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#header-information ul {
    list-style-type: none;
    padding: 1rem;
    margin: 1rem;
}

h3, h2, h4 {
    display: flex;
    text-transform: uppercase;
}

div {
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

.section2 ul {
    list-style-type: none;
    padding: 1rem;
    margin: 1rem;
}

.section3 ul {
    list-style-type: none;
    padding: 1rem;
    margin: 1rem;
}

.fa-facebook, .fa-square-instagram, .fa-linkedin {
    font-size: 3rem

}

.socialmedia {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-left: 1px;
}

.fa-facebook {
    margin: 1rem;
    padding: 1rem;
    color: #1877F2;
}

.fa-square-instagram {
    margin: 1rem;
    padding: 1rem;
    color: white;
    background: linear-gradient(45deg, #f09433 0%,
                                        #e6683c 25%,
                                        #dc2743 50%,
                                        #cc2366 75%,
                                        #bc1888 100%);)
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-linkedin {
    margin: 1rem;
    padding: 1rem;
    color: #0077B5;
}





